
<p>
  <b>No:</b>
  <%= @user.no %>
</p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Cource:</b>
  <%= @user.cource %>
</p>

<p>
  <b>Lank:</b>
  <%= @user.lank %>
</p>

<p>
  <b>Mail:</b>
  <%= @user.email %>
</p>

<% if @user.id != current_user.id %>
  <% unless current_user.friends.exists?(@user) %>
    <%= button_to('友人申請を送る',:controller =>'friend_requests',:action => 'new',:send_to_user => @user.id ) %>
  <% else %>
    <%= button_to('リムーブ',:controller => 'friend',:action => 'unfollow',:id => @user.id ) %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %>
